<!-- stores-list.component.html -->
<app-breadcrumb [path]="routes.Stores"></app-breadcrumb>

<div class="filter-form">
  <button mat-flat-button color="success" routerLink="/stores/new">
    Nueva tienda
  </button>
</div>

<mat-card class="card">
  <mat-card-content class="card-content">
    <p class="table-title">Tiendas</p>

    <div class="table-wrapper">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table"
        matSort
        matSortDisableClear="true"
      >
        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.nombre }}
          </td>
        </ng-container>

        <!-- Dirección -->
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.direccion }}
          </td>
        </ng-container>

        <!-- Teléfono -->
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.telefono }}
          </td>
        </ng-container>

        <!-- RUC -->
        <ng-container matColumnDef="ruc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>RUC</th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.ruc }}
          </td>
        </ng-container>

        <!-- Representante Legal -->
        <ng-container matColumnDef="representanteLegal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Representante Legal
          </th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.legalRepresentative }}
          </td>
        </ng-container>

        <!-- Cédula Representante -->
        <ng-container matColumnDef="cedulaRepresentante">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Cédula Representante
          </th>
          <td mat-cell *matCellDef="let row" (click)="edit(row)">
            {{ row.legalRepresentativeId }}
          </td>
        </ng-container>

        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row" class="acciones-cell">
            <button mat-flat-button color="primary" (click)="edit(row)">
              Editar
            </button>
            <button mat-flat-button color="warn" (click)="delete(row.id)">
              Eliminar
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="table-row"
        ></tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-content>
</mat-card>
