<app-breadcrumb [path]="routes.Users_CREATE"></app-breadcrumb>

<mat-card class="card">
  <mat-card-title>
    <h4 class="h4">Nuevo Usuario</h4>
  </mat-card-title>

  <mat-card-content [formGroup]="form">
    <!-- Nombre -->
    <div class="input-wrapper">
      <p class="input-title">Nombre completo</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="nombre"
          placeholder="Nombre completo"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <!-- Teléfono -->
    <div class="input-wrapper">
      <p class="input-title">Teléfono</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="telefono"
          placeholder="Teléfono"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <!-- Phone Number (internacional) -->
    <div class="input-wrapper">
      <p class="input-title">Teléfono fijo</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="Ej: 062"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <!-- Correo -->
    <div class="input-wrapper">
      <p class="input-title">Correo electrónico</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          formControlName="correo"
          placeholder="Correo"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <!-- Contraseña -->
    <div class="input-wrapper">
      <p class="input-title">Contraseña</p>
      <mat-form-field appearance="legacy" class="input-field">
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Contraseña"
          class="input-text"
        />
      </mat-form-field>
    </div>

    <!-- Tienda -->
    <div class="input-wrapper">
      <p class="input-title">Tienda</p>
      <mat-form-field appearance="legacy" class="input-field">
        <mat-select formControlName="tiendaId" placeholder="Selecciona una tienda">
          <mat-option *ngFor="let tienda of tiendas" [value]="tienda.id">
            {{ tienda.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Rol -->
    <div class="input-wrapper">
      <p class="input-title">Rol</p>
      <mat-radio-group formControlName="rolId" class="radio-group-horizontal">
        <mat-radio-button
          *ngFor="let rol of roles"
          [value]="rol.id"
          color="primary"
          class="radio-button"
        >
          {{ rol.nombre }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    
    

    <!-- Estado -->
    <div class="checkbox-wrapper">
      <div class="checkbox-item">
        <p class="checkbox-item-title">Activo</p>
        <mat-checkbox color="primary" formControlName="activo"></mat-checkbox>
      </div>
    </div>

    <!-- Avatar (opcional) -->
    <app-image-uploader
      (imageUploaded)="avatarAdd($event)"
      (imageDeleted)="avatarDel($event)"
      [imageList]="form.value.avatar"
      [entityName]="'usuarios'"
      [propertyName]="'avatar'"
    >
    </app-image-uploader>

    <!-- Botones -->
    <button (click)="onCreate()" mat-flat-button color="primary">Crear</button>
    <button (click)="onCancel()" mat-flat-button color="warn">Cancelar</button>
  </mat-card-content>
</mat-card>
