<form class="form" [formGroup]="form" (ngSubmit)="login()">
  <mat-form-field class="form__input">
    <input
      matInput
      placeholder="Correo electrónico"
      type="email"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field class="form__input">
    <input
      matInput
      placeholder="Contraseña"
      type="password"
      formControlName="password"
    />
  </mat-form-field>

  <div class="form-actions">
    <button
      class="form-actions__login"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Iniciar sesión
    </button>
    <button class="form-actions__forget" mat-button>Olvidaste tu contraseña </button>
  </div>
</form>
